@charset "ISO-8859-1";

.navbar-nav a:hover {
	display: block;
    border-bottom: 3px solid #FD8B24;
    color: #FD8B24;
}

#myNavbar{
	padding-top: 13px;
}

#myNavbar {
	color: black;
}

footer {
	position: fixed;
	text-align: center;
	border:1px solid;
	border-radius: 3px;
	margin: 0;
	bottom: 0;
	width: 100%;
	height: 4em;
	background-color: #FDE534;
	font-size: 18px;
}

footer div {
	padding-top: 10px;
}